

/* watermarked intro */
.about-watermark {
  position: absolute;
  left: -5%;
  top: -20%;
  max-width: 30%;
  z-index: 0;
}
.about-intro {
  background-color: #344860;
}
.about-intro * {
  color: white;
}
.about-intro .col-lg-8 {
  z-index: 1
}
.about-intro .col-lg-8 h2 {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.about-intro .col-lg-8 p {
  margin-bottom: 1rem;
}

/* end watermarked intro */


/* watermarked columns */
.watermarked-columns .col-lg-3 {
  z-index: -1;
  color: white;
  background-color: #344860;
}
.watermarked-columns .col-lg-3 {
  position: relative
}
.watermarked-columns img {
  position: absolute;
  z-index: -2;
  bottom: -40%;
  height: 100%;
}

.watermarked-columns .center-watermark {
  width: 100%
}

.watermarked-columns h2 {
  color: white;
  font-size: min(3.3vw, 2rem) !important;
}
.watermarked-columns p {
  color: white;
}
@media only screen and (max-width: 1400px){
  .watermarked-columns img {
    display: none
  }
  .watermarked-columns h2 {
    font-size: max(3.3vw, 2rem) !important;
  }
}
/* end watermarked columns */

@media only screen and (max-width: 992px){
	.watermarked-columns h2 {
		font-size: 1.6rem !important
	}
	.watermarked-columns p {
		font-size: 18px !important
	}
	
	.pub-pricing .watermark, .content-col .watermark, .about-watermark {
		display: none
	}
	.about-intro li {
        font-size: 	min(5vw,21px);
        margin-bottom: 1rem
	}
	
	.ww-header .collapsed .navbar-toggler-icon::after {
        font-size: 1.8rem;
    }
}
.about-intro li {
  line-height: 1.3
}
