
#ww-blog-container .entry-meta {
  text-align: center;
  color: #CE5C00;
  font-family: "Montserrat", sans-serif;
}

#ww-blog-container .entry-header .entry-title a {
  font-size: 24px;
  text-decoration: none;
  font-family: 'Norwester', sans-serif;
  font-weight: 700;
  color: #344860;
  text-decoration: none;
}

#ww-blog-container .entry-header .entry-title a:hover {
  color: #CE5C00
}

#ww-blog-container .entry-content p {
  font-size: 1.1rem;
  line-height: 1.3;
  font-family: 'Montserrat', sans-serif;
  color: #344860
}

#ww-blog-container .entry-header img {
  width: 300px
}

#ww-blog-container .entry-header {
  line-height: 1.3
}

#ww-blog-container {
  font-family: 'Montserrat', sans-serif
}

#ww-blog-container .post-thumbnail {
  display: inline;
}
#ww-blog-container .post-thumbnail img {
  float: left;
  text-align: left;
  margin-right: 1rem;
}

a.read-more {
  font-weight: 700;
  color: #CE5C00
}
a.read-more:hover {
  color: #344860
}

#ww-blog-container .entry-meta span.posted-on::after {
    border-bottom: 3px solid #344860;
    content: "---- ";
    color: #fff;
    margin-top: -0.5rem;
    margin-left: 8px;
    position: absolute;
}
#ww-blog-container .entry-meta span.posted-on::before {
  border-bottom: 3px solid #344860;
  content: "---- ";
  color: #fff;
  margin-top: -0.5rem;
  margin-left: -2rem;
  position: absolute;
}

#ww-blog-container .search-submit, #ww-single-post-container .search-submit {
  display: none
}
#ww-blog-container .search-field, #ww-single-post-container .search-field {
  width: 100%
}
.recent-post-title {
  text-decoration: none;
  color: #344860;
  font-family: "Norwester", sans-serif;
  line-height: 1.3
}

.recent-post-title:hover {
  color: #CE5C00
}


.dashicons-wrapper-dark {
  background: #344860;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 2rem;
  width: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer
}
.dashicons {
  color: #fff
}

.blog-social-icons {
  display: flex;
  justify-content: center
}

#ww-single-post-container p, #ww-single-post-container li {
  font-size: 1.2rem;
  line-height: 1.3
}
#ww-single-post-container {
  font-family: 'Montserrat', sans-serif
}

#ww-single-post-container .entry-title {
  font-family: 'Norwester', sans-serif;
  font-size: 2rem;
  color: #344860;
  line-height: 1.3;
  font-weight: 700
}

#ww-single-post-container .entry-meta span.posted-on::after {
  border-bottom: 3px solid #344860;
  content: "---- ";
  color: #fff;
  margin-top: -1rem;
  position: absolute;
}
#ww-single-post-container .entry-meta span.posted-on::before {
  border-bottom: 3px solid #344860;
  content: "---- ";
  color: #fff;
  margin-top: -1rem;
  margin-left: -2rem;
  position: absolute;
}
#ww-single-post-container .entry-meta {
  text-align: center;
  color: #CE5C00;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem
}

#ww-blog-container .navigation.pagination a{
  color: #344860;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

