

.ww-footer {
  background-color: #343A42;
}

.ww-footer * {
  color: white;
  font-family: 'Montserrat', sans-serif
}

.ww-footer .col-md-4.d-flex {
  justify-content: center;
  align-items: center;
  flex-direction: column
}
.ww-footer .col-md-4.d-flex:nth-child(1) {
  font-size: 1.1rem;
}
.ww-footer .col-md-4.d-flex:nth-child(2) {
  font-size: 0.8rem;
}
.ww-footer ul {
  margin: 0
}

.ww-footer .wp-block-button__link {
  background-color: white;
  color: #343A42;
}

.footer-links {
  padding-left: 0;
}

.footer-links li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
}

.footer-image {
  max-width: 40%
}

.footer-copyright {
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0rem
}

.footer-copyright a {
  color: white;
  text-decoration: none;
  font-weight: 400
}

.footer-copyright a:hover {
  color: #FEC042 !important
}

.footer-email-text {
  margin-bottom: 1rem;
}

.ww-footer input {
  font-family: sans-serif
}

#footer-menu li {
  margin: 0;
  padding: 0;
}

#footer-menu a {
  color: white;
  font-weight: 400;
}

#footer-menu *:hover {
  color: #FEC042 !important
}

.ww-footer .dashicons-wrapper {
  background: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 2rem;
  width: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer
}
.ww-footer .dashicons {
  color: #343A42;
  font-family: 'dashicons'
}

.ww-footer .footer-social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem
}

/* MOBILE */
@media only screen and (min-width: 992px){
  .footer-links {
    margin-top: 0
  }
  .home-hero .jumbotron-col {
    padding-left: 5.5rem;
    text-align: right
  }
}

@media only screen and (min-width: 992px){
  .footer-links {
    margin-top: 0
  }
} 

