

.ww-header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
  z-index: 100;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.ww-header .navbar-toggler-icon {
  font-family: 'dashicons';
  color: white
}
.ww-header.sticky .navbar-toggler-icon {
  color: #344860;
}
.ww-header .collapsed .navbar-toggler-icon:after {
  content: "\f228";
}
.ww-header .navbar-toggler-icon:after {
  content: "\f335";
}
.ww-header.gradient-background .container-fluid {
  background: linear-gradient(0deg, rgba(52,72,96,0) 0%, rgba(206,92,0,1) 100%); 
}
.ww-header.sticky.gradient-background .container-fluid {
  background: none
}
.ww-header .nav-item {
  white-space: nowrap;
  margin-bottom: 0
}
.navbar-toggler:focus, .navbar-toggler:active {
  outline: 0;
  box-shadow: none;
  border: none
}
.menu-col {
  display: flex;
  justify-content: end;
  align-items: center
}
.logo-col {
  display: flex;
  align-items: center;
}
.ww-header .nav-link {
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1rem;
  border-bottom: 2px solid transparent;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}
.ww-header li:hover {
  color: #D94E00
}

.admin-bar .ww-header {
  top: 32px;
}
.ww-header  .custom-logo {
  display: inline-block;
  width: 50%;
  filter: brightness(0) invert(1);
  transition: width 0.3s ease-in-out
}
.ww-header .full-color-logo .custom-logo {
    filter: none
}
@media only screen and (max-width: 992px){
  /* orange overlay obscures part of logo on homepage */
  .home .ww-header .full-color-logo .custom-logo {
      filter: brightness(0) invert(1);
  }
  .home .ww-header.sticky .full-color-logo .custom-logo {
      filter: none;
  }
}
.navbar-nav-container {
  display: flex;
  height: 100%
}

.ww-header.sticky {
  background-color: white;
  box-shadow: 0px;
  position: fixed;
  height: auto;
  -webkit-box-shadow: 0px -5px 14px 5px rgba(0,0,0,0.17); 
  box-shadow: 0px -5px 14px 5px rgba(0,0,0,0.17);
}

.ww-header.sticky .nav-link {
  color: #344860;
  text-shadow: none;
}

.ww-header.sticky .custom-logo {
  filter: none;
  width: 30%
}


/* DESKTOP */
@media only screen and (min-width: 992px){
  .ww-header {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .ww-header .nav-link {
    font-size: 1.25rem;
  }
  .ww-header .nav-link:hover {
    border-bottom: 2px solid #344860
  }
  .ww-header.sticky .nav-link:hover {
    border-bottom: 2px solid #CE5C00
  }
  .custom-logo-link {
    max-width: 15vw
  }
}

/* MOBILE */
@media only screen and (max-width: 992px){
  .ww-header .custom-logo, .ww-header.sticky .custom-logo {
    width: 100%
  }
}
