
.hustle-cta .hustle-form-fields {
  display: flex !important;
  justify-content: end !important
}
.is-content-justification-center + .hustle-cta .hustle-form-fields {
  justify-content: center !important
}

@media only screen and (max-width: 992px){
  .hustle-cta .hustle-form-fields {
    justify-content: center !important
  }
}

.hustle-cta .hustle-form {
  border: none !important
}

.hustle-cta .hustle-ui.hustle-inline .hustle-inline-content {
  width: 100% !important
}

.hustle-cta .hustle-button {
	border: 0;
	border-radius: 0;
	background-color: #344860;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.hustle-cta .hustle-button span {
  color: white
}

.hustle-cta .hustle-field input {
  border: none
}

.hustle-cta .hustle-field .hustle-input-label {
  top: inherit !important
}

.hustle-cta .hustle-field {
  background: white;
  border: 2px solid #344860
}

.ext-maxw-align-center {
    margin: 0 auto;
}
/* HERO */
.home-hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover;
  position: relative;
  overflow: hidden
}
.home-hero .container {
  z-index: 3;
  max-width: 90%;
  padding-top: 15vh /* padding-top == height of header */
}
.home-hero .overlay {
  background: linear-gradient(90deg, rgba(52,72,96,0) 0%, rgba(187,73,17,1) 50%);         
  position: absolute;
  height: 100%;
  width: 60%;
  top: 0;
  right: 0;
  z-index: 1
}
.home-hero h2, .home-hero p {
  color: white
}
.home-hero p {
  line-height: 1.3
}
.home-hero h2 {
  line-height: 1.3;
  text-shadow: 1px 3px 2px #343A42;
}
.home-hero .watermark {
  position: absolute;
  right: 0;
  bottom: -20%;
  z-index: 2;
  max-width: 35%;
}
.home-hero .wp-block-button__link {
  padding-top: 1em;
  padding-right: 1.6em;
  padding-bottom: 1em;
  padding-left: 1.6em;
  margin-top: 1.3rem
}
/* MOBILE */
@media only screen and (max-width: 992px) {
  .home-hero .overlay {
    background: rgba(187,73,17,0.8) !important;
    width: 100% !important;
  }
	.home-hero .jumbotron-col {
		text-align: center
  }
  .home-hero .watermark {
    position: absolute;
    right: -5%;
    bottom: 10%;
    z-index: 2;
    max-width: 45%;
  }
  .home-hero h2 {
    padding-bottom: 2rem
  }
}
/* DESKTOP */
@media only screen and (min-width: 992px){
  .home-hero .jumbotron-col {
    padding-left: 5.5rem;
    text-align: right
  }
}
/* END HERO */



/* IMAGE LINKS */

.image-link-col {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45vh;
  background-size: cover;
  text-decoration: none
}
.image-link-col .image-link-col-text {
  width: 100%;
  text-align: center;
  background-color: #363d44;
  color: white;
}
.image-link-col h2 {
  color: white;
  font-size: min(10vw, 3rem);
  text-decoration: none;
}
.image-links a {
  text-decoration: none
}
/* END IMAGE LINKS */

/* TWO COLUMN W/ COVER IMAGE */
.best-of-both-worlds h2 {
}
.two-column-cover-image .col-md-6 {
  min-height: 50vh
}
.two-column-cover-image .image-col {
  background-size: cover; 
}
.two-column-cover-image .content-col {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
  background-color: #d55c21; 
}
.two-column-cover-image * {
  color: white
}
.two-column-cover-image h2 {
  text-align: center;
  color: white;
}
/* END TWO COLUMN W/ COVER IMAGE */





/* TWO CHOICES UNTIL NOW */
.choices-until-now {
  background-color: #344860; 
  color: white;
  padding-top: 5rem;
  padding-bottom: 5rem
}
.choices-until-now * {
  color: white
}

.choices-until-now .col-lg-3 {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center;
  min-height: 35vh;
}

.choices-until-now .col-lg-3 p {
  width: 50%
}
.choices-until-now .col-lg-2 {
  display: flex; 
  justify-content: center; 
  align-items: center;
  min-height: 10vh
}
.choices-until-now .h2 {
  font-weight: 600;
  text-transform: uppercase
}
.choices-until-now .or {
  font-size: 3rem;
  font-weight: 600;
  color: white;
  white-space: nowrap
}
/* END TWO CHOICES UNTIL NOW */



/* WHY WORDPRESS */
.why-wordpress .col-md-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -6rem
}
#wp-logo {
  margin-bottom: -6vw;
}

/* END WHY WORDPRESS */

/* FLIP CARDS */
.flip-cards {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center
}

.flip-card-text-container {
	background-color: #363d44;
	text-transform: uppercase;
	width: 100%;
	min-height: 10vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flip-card-text-container h2 {
    color: white
}

.flip-card-back {
  background-color: white;
  color: #344860;
  transform: rotateY(180deg);
  font-weight: 600;
  font-size: min(1.5vw, 2rem);
  line-height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center
}
@media only screen and (max-width: 768px) {
  .flip-card-back {
    font-size: max(1.5vw, 1.5rem)
  }
  .flip-card h2 {
    font-size: max(1.5vw, 2rem)
  }
} 

.flip-cards.container {
    background-color: #344a5f;
    color: white;
}
.flip-cards.container .intro-heading {
    text-align: center;
    margin: 0;
    color: white;
    font-weight: 600
}

.flip-cards .flip-card-col {
  min-height: 60vh
}
.flip-cards .flip-card {
    height: 100%;
    width: 100%;
    perspective: 1000px;
}

.flip-cards .dashicons {
  display: none;
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	color: #CE5C00;
	font-size: 3rem;
}

@media only screen and (max-width: 992px){
  .flip-cards .dashicons {
    display: block
  }
}
/* END FLIP CARDS */

