

/* blend for online success */
.image-box {
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-repeat: no-repeat;
  font-size: 6rem;
  font-family: 'Norwester', sans-serif;
  color: #344860
}
.online-success h3 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #344860;
  font-weight: 700
}
.online-success h2 {
  font-family: 'Norwester';
  color: #344860;
  text-align: center
}
/* end blend for online success */




/* essential ingredients */
.essential-ingredients .col-md-6 {
  min-height: 50vh
}
.essential-ingredients .image-col {
  background-size: cover; 
  background-position: center
}
.essential-ingredients .content-col {
  display: flex; 
  flex-direction: column;
  background-color: #344860; 
  color: white;
  position: relative
}
.essential-ingredients h3 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.essential-ingredients p, .essential-ingredients li {
  font-family: 'Montserrat', sans-serif
}
.watermark {
  position: absolute;
  right: -10%;
  bottom: -30%;
  max-width: 70%;
  z-index: 0;
}
/* end essential ingredients */

/* pub pricing */
.pub-pricing {
  position: relative;
  overflow: visible
}
.pub-pricing .watermark {
  position: absolute;
  right: -3%;
  top: 20%;
  z-index: 0;
  max-width: 30%;
}
.pub-pricing .col-md-9 {
  z-index: 1;
  color: #344860
}
.pub-pricing h3 {
  color: #344860;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}
.pub-pricing h2 {
  color: #344860;
  line-height: 1.3;
  text-align: center
}
.pub-pricing p, .pub-pricing li {
  color: #344860;
}
/* end pub pricing */

