/* for templates/page-pricing-template.php */
.pricing-template .container-fluid .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.wu-plan {
  text-align: center;
}
.plan-container {

}
.plan-content {
  background-color: white;
  padding-top: 1rem
}
.plan-content li {
  margin: 0 !important;
  font-size: 16px !important
}
.plan-content p {
    font-size: 24px !important;
    padding: 10px;
    line-height: 1.6rem !important 
    /*  line-height must be a defined value for the countLines() function to work properly */
}
.plan-content h2 {
	font-size: min(12vw, 3.5rem);
	white-space: nowrap;
    margin-bottom: 0 !important
}
 .wu-setup-content .plan:not(.orange) h2 {
    color: #344860 !important
}
.spacer {
  height: 2rem;
  background-color: transparent
}
@media only screen and (max-width: 575px){
  .spacer {
    background-color: white
  }
}

.plan button {
  border-radius: 0;
	padding: 1rem 2rem 1rem 2rem;
	font-family: 'Montserrat';
  font-size: 0.8rem;
	border: none;
  margin-bottom: 2rem;
  margin-top: 1rem;
  background: #344860;
  color: white
}
.plan.orange h2 {
  color: white
}
.plan.orange {
  padding: 0
}
.plan.orange .plan-content {
  background-color: #CE5C00;
}
.plan.orange .spacer {
  background-color: #CE5C00
}
.specs .spec {
  border-bottom: 2px solid #ebebeb;
  text-align: center
}

.plan.orange .spec {
  background-color: white;
  border-left: 2px solid #CE5C00;
  border-right: 2px solid #CE5C00;
}
.plan.orange .spec:last-of-type {
  border-bottom: 2px solid #CE5C00;
}
.plan.orange button {
	background: white;
  color: #344860
}
.plan.orange .price * {
  color: white
}

/* leftmost column */
.plans > .row > div:first-of-type .specs .spec {
  border-top: none;
  border-left: 2px solid gray;
  border-bottom: 2px solid  #ebebeb;
}
.plans > .row > div:first-of-type .specs li:last-of-type {
  border-bottom: 2px solid  gray;
}

/* rightmost column */
.plans > .row > div:last-of-type .specs .spec {
  border-top: none;
  border-right: 2px solid gray;
  border-bottom: 2px solid  #ebebeb;
}
.plans > .row > div:last-of-type .specs li:last-of-type {
  border-bottom: 2px solid  gray;
}
.wu-content-plan .plan-tier {
  background: transparent !important;
}
.wu-content-plan .plan-tier ul {
  border-top: none !important
}
.wu-plans-frequency-selector a {
  background: transparent !important;
  color: white !important;
  border: 3px solid white !important;
  border-radius: 0 !important;
  padding: 1rem 2rem 1rem 2rem !important;
  font-family: 'Montserrat' !important;
}
.wu-plans-frequency-selector a:hover {
  color: white !important
}
.wu-plans-frequency-selector li:first-of-type > a {
  border-right: none !important
}
.wu-plans-frequency-selector a.active {
  background-color: #CE5C00 !important;
}
.wu-content-plan .layer {
  padding-top: 0 !important
}
.wu-plans-frequency-selector {
  background: transparent !important;
  border: none !important;
  font-size: 0 /* hides whitespace generated by loop */
}
.wu-plans-frequency-selector li {
  position: relative
}
.plan.orange button {
	border-radius: 0;
	padding: 1rem 2rem 1rem 2rem;
	font-family: 'Montserrat';
	background: white;
	font-size: 0.8rem;
	border: none;
}
.annual-billing-cta.mobile {
    display: none
}
@media only screen and (min-width: 515px){
    .annual-billing-cta {
      color: white;
      position: absolute;
      left: 105%;
      top: 0;
      font-size: 0.8rem;
      width: 150%;
      white-space: nowrap;
      text-align: left;
    }
}
@media only screen and (max-width: 514px){
    .annual-billing-cta {
        display: none
    }
    .annual-billing-cta.mobile {
        display: block;
        position: relative;
        white-space: nowrap;
        text-align: center;
        color: white;
        font-family: 'Montserrat', sans-serif
    }
}
.price {
  font-size: 0
}
.price div {
  font-size: 3rem !important;
  color: #344860;
  font-family: 'Norwester', sans-serif
}
.wu-content-plan .plan-tier {
  cursor: initial !important
}
.pricing-hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  background-size: cover;
  position: relative;
  overflow: hidden
}
.pricing-hero .container {
  z-index: 3;
  max-width: 90%;
}
.pricing-hero .overlay {
  background: linear-gradient(90deg, rgb(52, 72, 96) 30%, rgba(52,72,96,0) 130%);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1
}
.pricing-hero h1, .pricing-hero p {
  color: white
}
.pricing-hero p {
  line-height: 1.3
}
.pricing-hero h1 {
  line-height: 1.3;
  text-shadow: 1px 3px 2px #343A42;
}
.pricing-hero .watermark {
	position: absolute;
	left: -5vw;
	bottom: -5vw;
	z-index: 2;
	max-width: 25vw;
}
.pricing-hero .wp-block-button__link {
  padding-top: 1em;
  padding-right: 1.6em;
  padding-bottom: 1em;
  padding-left: 1.6em;
  margin-top: 1.3rem
}
/* MOBILE */
@media only screen and (max-width: 992px) {
  .pricing-hero .overlay {
    background: rgba(52,72,96,0.8) !important;
    width: 100% !important;
  }
  .pricing-hero .jumbotron-col {
		text-align: center
  }
  .pricing-hero .watermark {
    position: absolute;
    right: -5%;
    bottom: 10%;
    z-index: 2;
    max-width: 45%;
  }
  .pricing-hero h2 {
    padding-bottom: 2rem
  }
}
/* DESKTOP */
@media only screen and (min-width: 992px){
  .pricing-hero .jumbotron-col {
    padding-left: 5.5rem;
    text-align: right
  }
}

.beta-testing h2 {
	font-family: montserrat, sans-serif;
	text-align: center;
	font-weight: 600;
    font-size: 2.4rem !important;
    text-transform: none
}

.pricing-table-container .row.position-relative {
    z-index: 1;
}

#blue-background {
	background: #344860;
	position: absolute;
	width: 100%;
	top: 0;
	height: 100%;
	z-index: 0;
}
@media only screen and (max-width: 576px){
    #blue-background {
        display: none
    }
    .pricing-table-container {
        background-color: #344860;
    }
    .ecommerce-text {
        color: white !important
    }
}
.ecommerce-text {
    max-width: 66%;
    margin: 0 auto !important;
}

.coming-soon {
    background-color: #ce5c00;
}
.coming-soon * {
    color: white
}
.coming-soon p {
    font-size: 1.3rem;
    padding-top: 1rem
}
@media only screen and (max-width: 945px){
    .coming-soon p {
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 845px){
    .coming-soon p {
        font-size: 1.0rem;
    }
}
@media only screen and (max-width: 767px){
    .coming-soon img {
        max-width: 30%
    }
}
.coming-soon h2 {
    padding-bottom: 2rem;
}
.coming-soon img {
    max-width: 50%
}
.payment-processors .col-md-4, .payment-processors .col-xs-12 {
	align-items: center;
	justify-content: center;
	display: flex;
    flex-direction: column
}
.payment-processors p {
    font-size: 1rem;
}
.payment-processors img {
    max-width: 40%
}
.payment-processors .square-logo {
    max-width: 60%;
}
@media only screen and (max-width: 767px){
    .payment-processors img {
        max-width: 20%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .payment-processors .square-logo {
        max-width: 30%;
    }
}

.faqs-container {
	background: #344860;
}
.faqs-container h2 {
    color: white
}
.faqs-container .accordion-header:after, .accordion-header:before {
    content: none !important;
    border: none !important
    /* rsvp plugin messes up accordion styles */
}
.faqs-container .accordion-button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.3rem;
	background: #344860;
}
.faqs-container .accordion-body {
    font-family: 'Montserrat', sans-serif
}
.faqs-container .accordion-header {
    background-color: #343A42
}
.faqs-container .accordion-item {
    border: none
}
.faqs-container .accordion-button:after, .faqs-container .accordion-button:not(.collapsed):after{
    background-image: none
}
.faqs-container .accordion-button:not(.collapsed):after {
    font-family: 'dashicons';
    content: "\f460"; /* - */
}
.faqs-container .accordion-button.collapsed:after {
    font-family: 'dashicons';
    content: "\f543"; /* + */
}
