/*
Theme Name: Web Wiskee
Author: WebWiskee
Author URI: https://webwiskee.com
Description: A barebones theme for WebWiskee.com.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: web-wiskee-theme
Tags: translation-ready

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# header and footer
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/



/* Begin WebWiskee Styles */

/*
orange #CE5C00
blue #344860
yellow #FEC042
gray #343A42
red #6B2312
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: norwester;
    src: url('/wp-content/uploads/useanyfont/2419Norwester.woff2');
    font-display: auto;
}

/* GLOBAL */
p, li, h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  color: #344860
}
h1, h2 {
	font-family: 'Norwester', sans-serif;
  text-transform: uppercase;
  font-size: min(12vw, 4.5rem);
  font-weight: 600;
  margin-bottom: 2rem
}
h3 {
  text-transform: none;
  font-size: min(8vw,2.2rem)
}
h4 {
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  font-size: min(7vw, 30px)
}

p, li {
  font-family: 'Montserrat', sans-serif;
  font-size: min(5vw, 26px);
}

li {
  margin-bottom: 1rem
}

.text-transform-none {
  text-transform: none;
}

@media only screen and (max-width: 992px){
  
}


.wp-block-button.dark .wp-block-button__link {
  background-color: #344860;
  border: 2px solid #344860;
  color: white
}
.wp-block-button.dark .wp-block-button__link:hover {
  background-color: white;
  color: #344860;
  border: 2px solid #344860
}

.wp-block-button.light .wp-block-button__link {
  color: #344860;
  background-color: white;
  border: 2px solid #fff
}
.wp-block-button.light .wp-block-button__link:hover {
  border: 2px solid #344860
}


.hustle-cta .hustle-form-fields {
  display: flex !important;
  justify-content: end !important
}
.is-content-justification-center + .hustle-cta .hustle-form-fields {
  justify-content: center !important
}

@media only screen and (max-width: 992px){
  .hustle-cta .hustle-form-fields {
    justify-content: center !important
  }
}

.hustle-cta .hustle-form {
  border: none !important
}

.hustle-cta .hustle-ui.hustle-inline .hustle-inline-content {
  width: 100% !important
}

.hustle-cta .hustle-button {
	border: 0;
	border-radius: 0;
	background-color: #344860;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.hustle-cta .hustle-button span {
  color: white
}

.hustle-cta .hustle-field input {
  border: none
}

.hustle-cta .hustle-field .hustle-input-label {
  top: inherit !important
}

.hustle-cta .hustle-field {
  background: white;
  border: 2px solid #344860
}


/* END GLOBAL



/* HEADER */

.ww-header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
  z-index: 100;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.ww-header .navbar-toggler-icon {
  font-family: 'dashicons';
  color: white
}
.ww-header.sticky .navbar-toggler-icon {
  color: #344860;
}
.ww-header .collapsed .navbar-toggler-icon:after {
  content: "\f228";
}
.ww-header .navbar-toggler-icon:after {
  content: "\f335";
}
.ww-header.gradient-background .container-fluid {
  background: linear-gradient(0deg, rgba(52,72,96,0) 0%, rgba(206,92,0,1) 100%); 
}
.ww-header.sticky.gradient-background .container-fluid {
  background: none
}
.ww-header .nav-item {
  white-space: nowrap;
  margin-bottom: 0
}
.navbar-toggler:focus, .navbar-toggler:active {
  outline: 0;
  box-shadow: none;
  border: none
}
.menu-col {
  display: flex;
  justify-content: end;
  align-items: center
}
.logo-col {
  display: flex;
  align-items: center;
}
.ww-header .nav-link {
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1rem;
  border-bottom: 2px solid transparent;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}
.ww-header li:hover {
  color: #D94E00
}

.admin-bar .ww-header {
  top: 32px;
}
.ww-header  .custom-logo {
  display: inline-block;
  width: 50%;
  filter: brightness(0) invert(1);
  transition: width 0.3s ease-in-out
}
.ww-header .full-color-logo .custom-logo {
    filter: none
}
@media only screen and (max-width: 992px){
  /* orange overlay obscures part of logo on homepage */
  .home .ww-header .full-color-logo .custom-logo {
      filter: brightness(0) invert(1);
  }
  .home .ww-header.sticky .full-color-logo .custom-logo {
      filter: none;
  }
}
.navbar-nav-container {
  display: flex;
  height: 100%
}

.ww-header.sticky {
  background-color: white;
  box-shadow: 0px;
  position: fixed;
  height: auto;
  -webkit-box-shadow: 0px -5px 14px 5px rgba(0,0,0,0.17); 
  box-shadow: 0px -5px 14px 5px rgba(0,0,0,0.17);
}

.ww-header.sticky .nav-link {
  color: #344860;
  text-shadow: none;
}

.ww-header.sticky .custom-logo {
  filter: none;
  width: 30%
}


/* DESKTOP */
@media only screen and (min-width: 992px){
  .ww-header {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .ww-header .nav-link {
    font-size: 1.25rem;
  }
  .ww-header .nav-link:hover {
    border-bottom: 2px solid #344860
  }
  .ww-header.sticky .nav-link:hover {
    border-bottom: 2px solid #CE5C00
  }
  .custom-logo-link {
    max-width: 15vw
  }
}

/* MOBILE */
@media only screen and (max-width: 992px){
  .ww-header .custom-logo, .ww-header.sticky .custom-logo {
    width: 100%
  }
}

/* END HEADER */







/* FOOTER */


.ww-footer {
  background-color: #343A42;
}

.ww-footer * {
  color: white;
  font-family: 'Montserrat', sans-serif
}

.ww-footer .col-md-4.d-flex {
  justify-content: center;
  align-items: center;
  flex-direction: column
}
.ww-footer .col-md-4.d-flex:nth-child(1) {
  font-size: 1.1rem;
}
.ww-footer .col-md-4.d-flex:nth-child(2) {
  font-size: 0.8rem;
}
.ww-footer ul {
  margin: 0
}

.ww-footer .wp-block-button__link {
  background-color: white;
  color: #343A42;
}

.footer-links {
  padding-left: 0;
}

.footer-links li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
}

.footer-image {
  max-width: 40%
}

.footer-copyright {
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0rem
}

.footer-copyright a {
  color: white;
  text-decoration: none;
  font-weight: 400
}

.footer-copyright a:hover {
  color: #FEC042 !important
}

.footer-email-text {
  margin-bottom: 1rem;
}

.ww-footer input {
  font-family: sans-serif
}

#footer-menu li {
  margin: 0;
  padding: 0;
}

#footer-menu a {
  color: white;
  font-weight: 400;
}

#footer-menu *:hover {
  color: #FEC042 !important
}

.ww-footer .dashicons-wrapper {
  background: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 2rem;
  width: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer
}
.ww-footer .dashicons {
  color: #343A42;
  font-family: 'dashicons'
}

.ww-footer .footer-social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem
}

/* MOBILE */
@media only screen and (min-width: 992px){
  .footer-links {
    margin-top: 0
  }
  .home-hero .jumbotron-col {
    padding-left: 5.5rem;
    text-align: right
  }
}

@media only screen and (min-width: 992px){
  .footer-links {
    margin-top: 0
  }
} 

/* END FOOTER */


/* ABOUT */

/* watermarked intro */
.about-watermark {
  position: absolute;
  left: -5%;
  top: -20%;
  max-width: 30%;
  z-index: 0;
}
.about-intro {
  background-color: #344860;
}
.about-intro * {
  color: white;
}
.about-intro .col-lg-8 {
  z-index: 1
}
.about-intro .col-lg-8 h2 {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.about-intro .col-lg-8 p {
  margin-bottom: 1rem;
}

/* end watermarked intro */


/* watermarked columns */
.watermarked-columns .col-lg-3 {
  z-index: -1;
  color: white;
  background-color: #344860;
}
.watermarked-columns .col-lg-3 {
  position: relative
}
.watermarked-columns img {
  position: absolute;
  z-index: -2;
  bottom: -40%;
  height: 100%;
}

.watermarked-columns .center-watermark {
  width: 100%
}

.watermarked-columns h2 {
  color: white;
  font-size: min(3.3vw, 2rem) !important;
}
.watermarked-columns p {
  color: white;
}
@media only screen and (max-width: 1400px){
  .watermarked-columns img {
    display: none
  }
  .watermarked-columns h2 {
    font-size: max(3.3vw, 2rem) !important;
  }
}
/* end watermarked columns */

/* END ABOUT */


/* HOW IT WORKS */

/* blend for online success */
.image-box {
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-repeat: no-repeat;
  font-size: 6rem;
  font-family: 'Norwester', sans-serif;
  color: #344860
}
.online-success h3 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #344860;
  font-weight: 700
}
.online-success h2 {
  font-family: 'Norwester';
  color: #344860;
  text-align: center
}
/* end blend for online success */




/* essential ingredients */
.essential-ingredients .col-md-6 {
  min-height: 50vh
}
.essential-ingredients .image-col {
  background-size: cover; 
  background-position: center
}
.essential-ingredients .content-col {
  display: flex; 
  flex-direction: column;
  background-color: #344860; 
  color: white;
  position: relative
}
.essential-ingredients h3 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.essential-ingredients p, .essential-ingredients li {
  font-family: 'Montserrat', sans-serif
}
.watermark {
  position: absolute;
  right: -10%;
  bottom: -30%;
  max-width: 70%;
  z-index: 0;
}
/* end essential ingredients */

/* pub pricing */
.pub-pricing {
  position: relative;
  overflow: visible
}
.pub-pricing .watermark {
  position: absolute;
  right: -3%;
  top: 20%;
  z-index: 0;
  max-width: 30%;
}
.pub-pricing .col-md-9 {
  z-index: 1;
  color: #344860
}
.pub-pricing h3 {
  color: #344860;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}
.pub-pricing h2 {
  color: #344860;
  line-height: 1.3;
  text-align: center
}
.pub-pricing p, .pub-pricing li {
  color: #344860;
}
/* end pub pricing */

/* END HOW IT WORKS */



/* BLOG */

#ww-blog-container .entry-meta {
  text-align: center;
  color: #CE5C00;
  font-family: "Montserrat", sans-serif;
}

#ww-blog-container .entry-header .entry-title a {
  font-size: 24px;
  text-decoration: none;
  font-family: 'Norwester', sans-serif;
  font-weight: 700;
  color: #344860;
  text-decoration: none;
}

#ww-blog-container .entry-header .entry-title a:hover {
  color: #CE5C00
}

#ww-blog-container .entry-content p {
  font-size: 1.1rem;
  line-height: 1.3;
  font-family: 'Montserrat', sans-serif;
  color: #344860
}

#ww-blog-container .entry-header img {
  width: 300px
}

#ww-blog-container .entry-header {
  line-height: 1.3
}

#ww-blog-container {
  font-family: 'Montserrat', sans-serif
}

#ww-blog-container .post-thumbnail {
  display: inline;
}
#ww-blog-container .post-thumbnail img {
  float: left;
  text-align: left;
  margin-right: 1rem;
}

a.read-more {
  font-weight: 700;
  color: #CE5C00
}
a.read-more:hover {
  color: #344860
}

#ww-blog-container .entry-meta span.posted-on::after {
    border-bottom: 3px solid #344860;
    content: "---- ";
    color: #fff;
    margin-top: -0.5rem;
    margin-left: 8px;
    position: absolute;
}
#ww-blog-container .entry-meta span.posted-on::before {
  border-bottom: 3px solid #344860;
  content: "---- ";
  color: #fff;
  margin-top: -0.5rem;
  margin-left: -2rem;
  position: absolute;
}

#ww-blog-container .search-submit, #ww-single-post-container .search-submit {
  display: none
}
#ww-blog-container .search-field, #ww-single-post-container .search-field {
  width: 100%
}
.recent-post-title {
  text-decoration: none;
  color: #344860;
  font-family: "Norwester", sans-serif;
  line-height: 1.3
}

.recent-post-title:hover {
  color: #CE5C00
}


.dashicons-wrapper-dark {
  background: #344860;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 2rem;
  width: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer
}
.dashicons {
  color: #fff
}

.blog-social-icons {
  display: flex;
  justify-content: center
}

#ww-single-post-container p, #ww-single-post-container li {
  font-size: 1.2rem;
  line-height: 1.3
}
#ww-single-post-container {
  font-family: 'Montserrat', sans-serif
}

#ww-single-post-container .entry-title {
  font-family: 'Norwester', sans-serif;
  font-size: 2rem;
  color: #344860;
  line-height: 1.3;
  font-weight: 700
}

#ww-single-post-container .entry-meta span.posted-on::after {
  border-bottom: 3px solid #344860;
  content: "---- ";
  color: #fff;
  margin-top: -1rem;
  position: absolute;
}
#ww-single-post-container .entry-meta span.posted-on::before {
  border-bottom: 3px solid #344860;
  content: "---- ";
  color: #fff;
  margin-top: -1rem;
  margin-left: -2rem;
  position: absolute;
}
#ww-single-post-container .entry-meta {
  text-align: center;
  color: #CE5C00;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem
}

#ww-blog-container .navigation.pagination a{
  color: #344860;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* END BLOG */



/* RESET STYLES */
.page.type-page {
  margin: 0
}

.entry-content > * {
	max-width: 100%;
  margin: 0
}

.entry-content ul, .entry-content ol {
  max-width: 100%;
  margin: 0
}

.entry-content li {
	margin: 0;
  margin-bottom: 1rem
}

.page.type-page .entry-header {
  display: none;
}
.page.type-page, .entry-content, figure {
  margin-top: 0 !important
}


@media only screen and (max-width: 992px){
	.watermarked-columns h2 {
		font-size: 1.6rem !important
	}
	.watermarked-columns p {
		font-size: 18px !important
	}
	
	.pub-pricing .watermark, .content-col .watermark, .about-watermark {
		display: none
	}
	.about-intro li {
  font-size: 	min(5vw,21px);
	margin-bottom: 1rem
	}
	
	.ww-header .collapsed .navbar-toggler-icon::after {
	font-size: 1.8rem;
}
}
.about-intro li {
  line-height: 1.3
}

/* BEGIN Pricing */
.pricing-template .container-fluid .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.wu-plan {
  text-align: center;
}
.plan-container {

}
.plan-content {
  background-color: white;
  padding-top: 1rem
}
.plan-content li {
  margin: 0 !important;
  font-size: 16px !important
}
.plan-content p {
    font-size: 24px !important;
    padding: 10px;
    line-height: 1.6rem !important 
    /*  line-height must be a defined value for the countLines() function to work properly */
}
.plan-content h2 {
	font-size: min(12vw, 3.5rem);
	white-space: nowrap;
    margin-bottom: 0 !important
}
 .wu-setup-content .plan:not(.orange) h2 {
    color: #344860 !important
}
.spacer {
  height: 2rem;
  background-color: transparent
}
@media only screen and (max-width: 575px){
  .spacer {
    background-color: white
  }
}

.plan button {
  border-radius: 0;
	padding: 1rem 2rem 1rem 2rem;
	font-family: 'Montserrat';
  font-size: 0.8rem;
	border: none;
  margin-bottom: 2rem;
  margin-top: 1rem;
  background: #344860;
  color: white
}
.plan.orange h2 {
  color: white
}
.plan.orange {
  padding: 0
}
.plan.orange .plan-content {
  background-color: #CE5C00;
}
.plan.orange .spacer {
  background-color: #CE5C00
}
.specs .spec {
  border-bottom: 2px solid #ebebeb;
  text-align: center
}

.plan.orange .spec {
  background-color: white;
  border-left: 2px solid #CE5C00;
  border-right: 2px solid #CE5C00;
}
.plan.orange .spec:last-of-type {
  border-bottom: 2px solid #CE5C00;
}
.plan.orange button {
	background: white;
  color: #344860
}
.plan.orange .price * {
  color: white
}

/* leftmost column */
.plans > .row > div:first-of-type .specs .spec {
  border-top: none;
  border-left: 2px solid gray;
  border-bottom: 2px solid  #ebebeb;
}
.plans > .row > div:first-of-type .specs li:last-of-type {
  border-bottom: 2px solid  gray;
}

/* rightmost column */
.plans > .row > div:last-of-type .specs .spec {
  border-top: none;
  border-right: 2px solid gray;
  border-bottom: 2px solid  #ebebeb;
}
.plans > .row > div:last-of-type .specs li:last-of-type {
  border-bottom: 2px solid  gray;
}
.wu-content-plan .plan-tier {
  background: transparent !important;
}
.wu-content-plan .plan-tier ul {
  border-top: none !important
}
.wu-plans-frequency-selector a {
  background: transparent !important;
  color: white !important;
  border: 3px solid white !important;
  border-radius: 0 !important;
  padding: 1rem 2rem 1rem 2rem !important;
  font-family: 'Montserrat' !important;
}
.wu-plans-frequency-selector a:hover {
  color: white !important
}
.wu-plans-frequency-selector li:first-of-type > a {
  border-right: none !important
}
.wu-plans-frequency-selector a.active {
  background-color: #CE5C00 !important;
}
.wu-content-plan .layer {
  padding-top: 0 !important
}
.wu-plans-frequency-selector {
  background: transparent !important;
  border: none !important;
  font-size: 0 /* hides whitespace generated by loop */
}
.wu-plans-frequency-selector li {
  position: relative
}
.plan.orange button {
	border-radius: 0;
	padding: 1rem 2rem 1rem 2rem;
	font-family: 'Montserrat';
	background: white;
	font-size: 0.8rem;
	border: none;
}
.annual-billing-cta.mobile {
    display: none
}
@media only screen and (min-width: 515px){
    .annual-billing-cta {
      color: white;
      position: absolute;
      left: 105%;
      top: 0;
      font-size: 0.8rem;
      width: 150%;
      white-space: nowrap;
      text-align: left;
    }
}
@media only screen and (max-width: 514px){
    .annual-billing-cta {
        display: none
    }
    .annual-billing-cta.mobile {
        display: block;
        position: relative;
        white-space: nowrap;
        text-align: center;
        color: white;
        font-family: 'Montserrat', sans-serif
    }
}
.price {
  font-size: 0
}
.price div {
  font-size: 3rem !important;
  color: #344860;
  font-family: 'Norwester', sans-serif
}
.wu-content-plan .plan-tier {
  cursor: initial !important
}
.pricing-hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  background-size: cover;
  position: relative;
  overflow: hidden
}
.pricing-hero .container {
  z-index: 3;
  max-width: 90%;
}
.pricing-hero .overlay {
  background: linear-gradient(90deg, rgb(52, 72, 96) 30%, rgba(52,72,96,0) 130%);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1
}
.pricing-hero h1, .pricing-hero p {
  color: white
}
.pricing-hero p {
  line-height: 1.3
}
.pricing-hero h1 {
  line-height: 1.3;
  text-shadow: 1px 3px 2px #343A42;
}
.pricing-hero .watermark {
	position: absolute;
	left: -5vw;
	bottom: -5vw;
	z-index: 2;
	max-width: 25vw;
}
.pricing-hero .wp-block-button__link {
  padding-top: 1em;
  padding-right: 1.6em;
  padding-bottom: 1em;
  padding-left: 1.6em;
  margin-top: 1.3rem
}
/* MOBILE */
@media only screen and (max-width: 992px) {
  .pricing-hero .overlay {
    background: rgba(52,72,96,0.8) !important;
    width: 100% !important;
  }
  .pricing-hero .jumbotron-col {
		text-align: center
  }
  .pricing-hero .watermark {
    position: absolute;
    right: -5%;
    bottom: 10%;
    z-index: 2;
    max-width: 45%;
  }
  .pricing-hero h2 {
    padding-bottom: 2rem
  }
}
/* DESKTOP */
@media only screen and (min-width: 992px){
  .pricing-hero .jumbotron-col {
    padding-left: 5.5rem;
    text-align: right
  }
}

.beta-testing h2 {
	font-family: montserrat, sans-serif;
	text-align: center;
	font-weight: 600;
    font-size: 2.4rem !important;
    text-transform: none
}

.pricing-table-container .row.position-relative {
    z-index: 1;
}

#blue-background {
	background: #344860;
	position: absolute;
	width: 100%;
	top: 0;
	height: 100%;
	z-index: 0;
}
@media only screen and (max-width: 576px){
    #blue-background {
        display: none
    }
    .pricing-table-container {
        background-color: #344860;
    }
    .ecommerce-text {
        color: white !important
    }
}
.ecommerce-text {
    max-width: 66%;
    margin: 0 auto !important;
}

.coming-soon {
    background-color: #ce5c00;
}
.coming-soon * {
    color: white
}
.coming-soon p {
    font-size: 1.3rem;
    padding-top: 1rem
}
@media only screen and (max-width: 945px){
    .coming-soon p {
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 845px){
    .coming-soon p {
        font-size: 1.0rem;
    }
}
@media only screen and (max-width: 767px){
    .coming-soon img {
        max-width: 30%
    }
}
.coming-soon h2 {
    padding-bottom: 2rem;
}
.coming-soon img {
    max-width: 50%
}
.payment-processors .col-md-4, .payment-processors .col-xs-12 {
	align-items: center;
	justify-content: center;
	display: flex;
    flex-direction: column
}
.payment-processors p {
    font-size: 1rem;
}
.payment-processors img {
    max-width: 40%
}
.payment-processors .square-logo {
    max-width: 60%;
}
@media only screen and (max-width: 767px){
    .payment-processors img {
        max-width: 20%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .payment-processors .square-logo {
        max-width: 30%;
    }
}

.faqs-container {
	background: #344860;
}
.faqs-container h2 {
    color: white
}
.faqs-container .accordion-header:after, .accordion-header:before {
    content: none !important;
    border: none !important
    /* rsvp plugin messes up accordion styles */
}
.faqs-container .accordion-button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.3rem;
	background: #344860;
}
.faqs-container .accordion-body {
    font-family: 'Montserrat', sans-serif
}
.faqs-container .accordion-header {
    background-color: #343A42
}
.faqs-container .accordion-item {
    border: none
}
.faqs-container .accordion-button:after, .faqs-container .accordion-button:not(.collapsed):after{
    background-image: none
}
.faqs-container .accordion-button:not(.collapsed):after {
    font-family: 'dashicons';
    content: "\f460"; /* - */
}
.faqs-container .accordion-button.collapsed:after {
    font-family: 'dashicons';
    content: "\f543"; /* + */
}

/* END WebWiskee Styles */







/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}


mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {

}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.875rem;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #191e23;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.8;
}

h2, h2, h3, h4, h5, h6 {
  clear: both;
}

.entry-header .entry-title {
  font-size: 2.44em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
}

address {
}

pre {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  line-height: 1.6;
  max-width: 100%;
  overflow: auto;
  padding: 0.8em 1em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.875rem;
}

@media screen and (min-width: 600px) {
  code, kbd, tt, var {
    font-size: 0.8125rem;
  }
}

p > code {
  padding: 2px;
  border-radius: 2px;
  background: #f3f4f5;
  font-size: inherit;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

.archive .site-header {
	margin-bottom: 3.5em;
}

.site-title {
	margin: .4375em 0 0;
	font-size: 38px;
	font-weight: bold;
	line-height: 1.2;
	color: #333332;
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-branding {
	margin-bottom: 1.75em;
}

.site-description {
	margin: .4375em 0 0;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #6c7781;
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #0073aa;
}

a:hover, a:focus, a:active {
  color: #00a0d2;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
  margin: 0 auto;
	max-width: 580px;
  text-align: center;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
  text-align: left;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  display: block;
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.menu-toggle {
  padding: 1em;
}

@media screen and (max-width: 37.5em) {
	/* Small menu. */
	.menu-toggle,
	.main-navigation.toggled ul {
		display: block;
    margin: 0 auto;
	}
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .main-navigation a {
    padding: 0 .5em;
  }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  border-bottom: 1px solid #e2e4e7;
	margin: 0 auto 60px;
  max-width: 580px;
	overflow: hidden;
  padding-bottom: 60px;
}

.nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft,
.alignright {
	max-width: 580px !important;	/* Let's work to make this !important unnecessary */
}

.alignleft img,
.alignright img,
.alignleft figcaption,
.alignright figcaption {
	max-width: 50%;
	width: 50%;
}

.alignleft figcaption {
	clear: left;
}

.alignright figcaption {
	clear: right;
}

.alignleft img,
.alignleft figcaption {
  float: left;
  margin-right: 1.5em;
}

.alignright img,
.alignright figcaption {
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-area {
	width: 25%;
}

.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}

.widget select {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
#page {
  margin: 0 auto;
  max-width: 100%;
}

.site-branding {
  text-align: center;
  margin: 60px 0;
}

.site-footer {
  margin: 1em 0;
  color: #6c7781;
  font-size: 90%;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 60px 0;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.entry-meta {
  color: #6c7781;
  font-size: 90%;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.entry-header,
.page-header,
.entry-footer,
.site-info,
.posts-navigation,
.post-navigation,
.page-navigation,
.comments-area,
.not-found .page-content,
.search .entry-summary {
  margin: 1.5em auto;
  padding-left: 14px;
  padding-right: 14px;
}

.entry-header .wp-post-image {
  margin-bottom: 1.5em;
}

.entry-footer span{
  margin-right: 1em;
}

.entry-footer{
  color: #6c7781;
  font-size: 90%;
  padding-bottom: 40px;
  border-bottom: 1px solid #e2e4e7;
}

@media screen and (min-width: 608px) {
  .entry-header,
  .page-header,
  .entry-footer,
  .site-info,
  .posts-navigation,
  .post-navigation,
  .page-navigation,
  .comments-area,
  .not-found .page-content,
  .search .entry-summary {
    padding-left: 0;
    padding-right: 0;
  }
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.3333333333%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.6666666667%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.2857142857%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.1111111111%;
}

.gallery-caption {
  display: block;
}
